/*
why the hell does css have comments
otherwise i'm finally using this ig

muahaha
idk tho
*/

.big {
  font-size: 1.5em;
}

.center {
  text-align: center;
}

.flex {
  /*all of the items have to align to the center, and also be on one row*/
  /*also, your monitor is just like really wide. let's just say that*/
  display: flex;
  justify-content: space-between;
}

.flex-button {
  width: 200px;
  height: 100px;
  margin: 10px;
}


/*
.flex-button:first-of-type {
  margin-left: 300px;
  
  this kinda works
}

.flex-button:last-of-type {
  margin-right: 300px;
}
*/

.small {
  /* useful */
  font-size: 0.001em;
}